<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="h-full">
    <%- include('./includes/navigation.ejs') %>

    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <h1 class="text-base font-semibold text-indigo-600">500 Internal Server Error</h1>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Oops! Something broke!</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">Feels like something is broken! We are working on the fix, thanks for the patience.</p>
        </div>
    </main>

<%- include('./includes/end.ejs') %>  